* {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --font-primary:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
